services:
  matchmythriftanaithriftintelligenceplatform:
    image: matchmythriftanaithriftintelligenceplatform
    build:
      context: .
      dockerfile: ./Dockerfile
    ports:
      - 8000:8000
